@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap");
/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
html {
  font-family: "roboto", serif;
}
/* NAVIGATION */
nav {
  margin: 30px auto;
  text-align: right;
  background-color: azure;
  max-width: 1440px;
}
nav a {
  display: inline-block;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
  padding: 10px;
  margin: 0 20px;
  margin-right: 100px;
}

nav a.reservation {
  padding: 10px 30px;
  border: 2px solid #555;
  border-radius: 5px;
  margin-right: 50px;
  margin-left: 80px;
  font-size: 2.2rem;
  letter-spacing: 1px;
  transition: 0.2s;
}

nav a:hover {
  border-bottom: 2px solid #555;
  color: black;
}
nav a.reservation:hover {
  background-color: #555;
  color: azure;
}
/* HEADER */
header {
  height: 60vh;
  background-image: url("car.jpg");
  background-size: cover;
  font-family: "Oswald", sans-serif;
}
header h1 {
  font-size: 6rem;
  color: azure;
  text-align: center;
  line-height: 60vh;
  background-color: rgba(0, 0, 0, 50%);
}
/* MAIN */
main {
  max-width: 1440px;
  margin: 5vh auto;
}
main p {
  font-size: 1.5rem;
}
.features {
  max-width: 1440px;
  margin: 2vh auto;
  text-align: center;
}
.feature {
  display: inline-block;
  width: 33%;
}
.image {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: auto 40px;
}
main h2 {
  font-size: 1rem;
  padding-top: 10px;
}
/* FOOTER */
footer {
  background-color: black;
}
footer p {
  color: white;
  text-align: center;
  padding: 2rem;
}
