@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap");
/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
/* NAVIGATION */
nav {
  margin: 30px 0;
  text-align: right;
}
nav a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin: 0 20px;
}
nav a:hover {
  border-bottom: 2px solid #555;
  color: #222;
}
.reservation {
  border: 2px solid #555;
  border-radius: 5px;
}
/* HEADER */
header {
  height: 60vh;
  background-image: url("car.jpg");
  background-size: cover;
  font-family: "Oswald", sans-serif;
}
header h1 {
  font-size: 6rem;
  color: azure;
  text-align: center;
  line-height: 60vh;
  background-color: rgba(0, 0, 0, 50%);
}
/* MAIN */
main {
  min-height: 700px;
  background-color: aqua;
}
/* FOOTER */
footer {
  min-height: 20px;
  background-color: brown;
}
